%h1= "Category: #{@category.name}"

%p#notice= notice

%p.description_field
  %b Description:
  = @category.description
= link_to 'Edit', edit_category_path(@category)
|
\#{link_to 'Back', categories_path}
|
\#{link_to 'New List', new_category_list_path(@category)}
